* {
    box-sizing: border-box;
    font-family: 'Red Rose', Roboto;
}

:root {
    --black-1 : #766E6E;
}

.bg-black-1 {
    background-color: var(--black-1);
}

.margin-main {
    margin-top: 100px;
}

/* body {
    background: url('./assets/bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.card-login {
    width: 25rem;
    top: 10px;
    left: 100px;
}

.bg-black {
    background-color: black !important;
}

.card-login .form-control {
    padding-left: 2.375rem;
    padding-right: 2.375rem;
}

.card-login .form-control-ic {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-email .has-pw {
    position: relative;
}

.card-login .form-control-ic-right {
    position: absolute;
    z-index: 2;
    display: block;
    top: 166px;
    right: 50px;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.banner-wrapper {
    position: absolute;
    top: 185px;
    left: 185px;
}

/* .banner {
    position: relative;
    width: 100%;
    height: 100%;
}


.banner-wrapper {
    position: absolute;
    top: 150px;
    left: 50px;
} */

/* footer {
    position: absolute;
    width: 100%;
    bottom: 0;
} */

.title {
    margin: 0;
    color: var(--black-1);
}

.subtitle {
    margin: 0;
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 400;
}

footer {
    background-color: rgba(119, 110, 110, 0.5);
}

.status-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile .form-control:read-only {
    background-color: white;
}

#profile table thead tr th {
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .card-login {
        width: 100%;
        top: 0;
        left: 0;
    }

    .banner-wrapper {
        top: 0;
        left: 0;
    }
}
